
.projects-container{
    height: 300vh;
    background-color: #b6ccfe;
    width: 300vw;
}


/*
Ice color palette
light: #edf2fb
medium light #e2eafc
dark light #d7e3fc
light dark #c1d3fe
medium dark #b6ccfe
Dark #abc4ff
*/