@import '../../SCSS/variables';



.about-container{
    height:200vh;
    background-color: #edf2fb;
    width: 100vw;
    opacity: 0.75;

}

.introduction {
    color: #abc4ff;
    font-weight: bold;
}


.profile-image{
    background-image: url('profile-pic-mobile.jpg') no-repeat center center fixed;
    height: 50vh;
    width: 50vw;
}

/*


color palette 
orange #E36414 
purple #9d4edd
gray: #d9d9d9
coral: #f07167
off-white: #f8edeb


*/


/*
Ice color palette
light: #edf2fb
medium light #e2eafc
dark light #d7e3fc
light dark #c1d3fe
medium dark #b6ccfe
Dark #abc4ff
*/


@include breakpoints(phone){

    @media (min-width: $breakpoint-phone) and (max-width: $breakpoint-large-phone){

   .profile-image{
       display: flex;
       justify-content: center;
       margin: auto;
       
       height: 50%;
       width: 100%;
       background-color: orange;
       background: url('profile-pic-try-again.jpg');
   }

   .container{
       height: 50vh;
       width: 90%;
       background-color: blue;
   }

       
    }
    
   
}




    @include breakpoints(tablet){

        @media(min-width: $breakpoint-large-phone) and (max-width: $breakpoint-tablet){

         
    
    }


    }


    @include breakpoints(ipad){
        @media(min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop){
         

        

        }
    }
    


    @include breakpoints(laptop){

        @media(min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop){
    
          

        }
    
    
      
    
    }    




@include breakpoints(desktop){

    @media(min-width: $breakpoint-laptop) and (max-width: $breakpoint-desktop){

      
    }


 


}
